# Ignorar entornos virtuales de Python
venv/
entorno_project_ML/

# Ignorar archivos de información de CatBoost
src/notebooks/catboost_info/

# Ignorar la carpeta de configuración
src/app/instance/

# Ignorar archivos de caché de Python
src/app/__pycache__/